<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Tradeshift Challenge - Julio Falbo</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="shortcut icon" href="images/ico/favicon.png">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/jquery.js"></script>
    <script src="js/uikit.scrollspy.js"></script>
    <script src="js/scripts.js"></script>
</head>
<body id="backtotop">

<div class="fullwidth clearfix">
    <div id="topcontainer" class="bodycontainer clearfix"
         data-uk-scrollspy="{cls:'uk-animation-fade', delay: 300, repeat: true}">

        <p><a href="https://tradeshift.com/" target="_blank"><img src="images/logo.png"></a></p>
        <h1><span>Tradeshift</span><br/>challenge</h1>
        <p>By: Júlio Falbo</p>

    </div>
</div>

<div class="arrow-separator arrow-white"></div>

<div class="fullwidth colour2 clearfix">
    <div id="maincont" class="bodycontainer clearfix"
         data-uk-scrollspy="{cls:'uk-animation-fade', delay: 300, repeat: true}">

        <p>To access the <strong>swagger</strong> application <a href="/swagger-ui.html"><strong>click here</strong></a>.
        </p>

        <p>To access the github of the challenge <a href="https://github.com/juliofalbo/tradeshift"
                                                    target="_blank"><strong>click here</strong>.</p>

    </div>
</div>

<div class="arrow-separator arrow-themelight"></div>

<div class="fullwidth clearfix">
    <div id="footercont" class="bodycontainer clearfix"
         data-uk-scrollspy="{cls:'uk-animation-fade', delay: 300, repeat: true}">
        <div id="socialmedia" class="clearfix">
            <ul>
                <li><a title="" href="https://github.com/juliofalbo" rel="external" target="_blank"><span
                        class="fa fa-github"></span></a></li>
                <li><a title="" href="https://www.linkedin.com/in/juliofalbo/" rel="external" target="_blank"><span
                        class="fa fa-linkedin"></span></a></li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>